.wrapContentContainer{
    border-width: 2px;
    border-style: dotted;
    margin-bottom: 16px;
    padding: 8px;
    display: flex;
}

.wrapInputContainer{
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative
}

.inputContainer{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    height: 36px;
    padding-left: 24px;
    padding-top: 4px;
    align-self: center;
}

.inputSearch{
    position: absolute;
    left: 4px
}

.inputCalendar{
    position: absolute;
    right: 4px
}

.contentTitle{
    font-size: 22px;
    margin-bottom: 8px;
}

.contentDescription{
    font-size: 14px;
    margin-bottom: 4px;
}

.wrapCalendarContainer{
    margin-bottom: 24px;
    display: flex;
    justify-content: flex-end;
}